<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<appSettings>

		<add key="sqlCad" value="Password=1234;Persist Security Info=True;User ID=sa;Initial Catalog=GSIREM134;Data Source=LAPTOP-1EKGARP3\SQLPARTICION2" />
    
    <add key="ImpresoraParaRecibos" value="HP LaserJet Pro M404-M405 mediacarta" />
	<add key="ImpresoraParaActas" value="HP LaserJet Pro M404-M405" />
	<add key="ImpresoraPdf" value="EPSON7C1C55 (L805 Series)" />

	<add key="KioskoUrl" value="http://intranet.gobpr.gob.mx:6897/sia.kiosko/" />
	<add key="RutaPDFs" value="c:\Temp\" />

	<add key="Puerto-Monedas" value="COM4" />
	<add key="Dispositivo-ReceptorMonedas" value="2" />
	<add key="Dispositivo-DispensadorMonedas1Peso" value="3" />
	<add key="Dispositivo-DispensadorMonedas5Pesos" value="4" />

	<add key="Puerto-ReceptorBilletes" value="COM6" />

	<!-- Configuración de PinPad -->
	<add key="UsuarioPinPad1" value="SOL_TEST" />
	<add key="ContrasenaPinPad1" value="$01_Ler#Tia1" />
	<add key="AfiliacionPinPad1" value="8516840" />

	<add key="UsuarioPinPad2" value="SOL_TEST" />
	<add key="ContrasenaPinPad2" value="$01_Ler#Tia1" />
	<add key="AfiliacionPinPad2" value="8516842" />

	<add key="PuertoPinPad" value="COM9" />
	<add key="ModoPinPad" value="PRD" />
	<!--
    <add key="ModoPinPad" value="DEC" /> SIEMPRE DECLINE
    <add key="ModoPinPad" value="RND" /> RANDOM
    <add key="ModoPinPad" value="AUT" /> SIEMPRE AUTORICE
    <add key="ModoPinPad" value="PRD" /> PRODUCCION
    -->
	<add key="TerminalIdPinPad" value="275061658" />
	<add key="KioskoPinPad" value="41" />

		

	<!--IronPDF Licence Key-->
	<add key="IronPdf.LicenseKey" value="IRONPDF-627111316F-545745-D4D0D8-FBF4C751E6-D2884217-UExCE96E31453297D8-ORGANIZATION.LICENSE.5.DEVELOPER.SUPPORTED.UNTIL.05.JAN.2020" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.3.1017.20" newVersion="2017.3.1017.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.3.1017.20" newVersion="2017.3.1017.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikCommon" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.3.1017.20" newVersion="2017.3.1017.20" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>