<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wpfKiosko20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ImpresoraParaRecibos" value="HP LaserJet Pro M404-M405 mediacarta" />
    <add key="ImpresoraParaActas" value="HP LaserJet Pro M404-M405" />
    <add key="KioskoUrl" value="http://intranet.gobpr.gob.mx:6897/sia.kiosko/" />
    <add key="RutaPDFs" value="c:\Temp\" />
    <!-- Configuración de PinPad -->
    <add key="UsuarioPinPad1" value="SOL_TEST" />
    <add key="ContrasenaPinPad1" value="$01_Ler#Tia1" />
    <add key="AfiliacionPinPad1" value="8516840" />
    <add key="UsuarioPinPad2" value="SOL_TEST" />
    <add key="ContrasenaPinPad2" value="$01_Ler#Tia1" />
    <add key="AfiliacionPinPad2" value="8516842" />
    <add key="PuertoPinPad" value="COM9" />
    <add key="ModoPinPad" value="PRD" />
    <!--
    <add key="ModoPinPad" value="DEC" /> SIEMPRE DECLINE
    <add key="ModoPinPad" value="RND" /> RANDOM
    <add key="ModoPinPad" value="AUT" /> SIEMPRE AUTORICE
    <add key="ModoPinPad" value="PRD" /> PRODUCCION
    -->
    <add key="TerminalIdPinPad" value="275061658" />
    <add key="KioskoPinPad" value="41" />
    <!--IronPDF Licence Key-->
    <add key="IronPdf.LicenseKey" value="IRONPDF-627111316F-545745-D4D0D8-FBF4C751E6-D2884217-UExCE96E31453297D8-ORGANIZATION.LICENSE.5.DEVELOPER.SUPPORTED.UNTIL.05.JAN.2020" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <wpfKiosko20.Properties.Settings>
      <setting name="PuertoMonedas" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="DispositivoReceptorMonedas" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DispositivoDispensadorMonedas1Peso" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DispositivoDispensadorMonedas5Pesos" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PuertoReceptorBilletes" serializeAs="String">
        <value>COM6</value>
      </setting>
    </wpfKiosko20.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>